{% extends "layout.html" %}
{% block title %}
Account Overview
{% endblock %}

{% block main %}
<div>
<!-- Make a table here when we get our values from lookup python functino (API CALL)-->

<!-- Using bootstrap table, this one seems relatively straightforward, could implement on own? -->

<table class="table table-striped">
    <thead>
      <tr>
        <!--Align first two columns to left edge, rest to right edge Do the same for corresponding rows in body-->
        <!--stock, shares, current_price, total_holdings-->
        <th clas="text-start" scope="col">Symbol</th>
        <th class="text-start" scope="col">Name</th>
        <th class="text-end" scope="col">Shares</th>
        <th class="text-end" scope="col">Price</th>
        <th class="text-end" scope="col">TOTAL</th>
      </tr>
    </thead>

    <tbody>
        <!-- <th scope="row">1</th> Remove row number here -->
        <!-- Jinja 2, good to start looking at ways to use programming knowledge -->
        <!-- https://www.adamsmith.haus/python/answers/how-to-iterate-over-a-dictionary-in-a-jinja-template-in-python -->
        {% for x in overview_list_of_list %}
          <tr>
            <td class="text-start">{{ x[0] }}</td>
            <td class="text-start">{{ x[1] }}</td>
            <td class="text-end">{{ x[2] }}</td>
            <td class="text-end">{{ x[3] }}</td>
            <td class="text-end">{{ x[4] }}</td>
          </tr>
        {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <!-- Offset by four columns, align text to end -->
        <td colspan="4" class="text-end border-0">Cash</td>
        <td class="text-end border-0">{{ cash }}</td>
      </tr>
      <tr>
        <td colspan="4" class="text-end border-0">Total</td>
        <td class="text-end border-0">{{ total }}</td>
      </tr>
    </tfoot>
  </table>

</div>
{% endblock %}